.echosign_container {
    /* margin: 0 20px; */
    padding: 2px 10px;
    margin: 10px 0;
    background: #fff;
    width: 98%;
}

.echosign_settings_header {
	font-size: 21px;
}

#add_custom_row {
    margin-right: 10px;
}

.echosign_notification_area {
	margin: 0px !important;
}
